# Garage S3 Storage

# Generate secrets for S3 storage
GARAGE_RPC_SECRET='openssl rand -base64 32'
GARAGE_ADMIN_TOKEN='openssl rand -base64 32'
GARAGE_METRICS_TOKEN='openssl rand -base64 32'

# Container hostname
GARAGE_HOSTNAME=s3garage

# Ports on host
GARAGE_S3_API_HOST_PORT=3900
GARAGE_ADMIN_HOST_PORT=3910
GARAGE_UI_HOST_PORT=3920

# Ports in container
GARAGE_RPC_BIND_PORT=3901

# Other
GARAGE_S3_REGION=garage

# Keycloak

KEYCLOAK_COOLTURE_SWAGGER_CLIENT_ID=coolture-swagger
KEYCLOAK_COOLTURE_GATEWAY_CLIENT_ID=coolture-gateway
KEYCLOAK_COOLTURE_SWAGGER_CLIENT_SECRET=secret
KEYCLOAK_COOLTURE_GATEWAY_CLIENT_SECRET=secret