# Secrets
.env

# Temporary
./tmp/

# Garage S3 Storage
garage/meta/*
garage/data/*
!garage/data/.gitkeep
!garage/meta/.gitkeep

# Python
venv
.venv

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Maven Spring Project
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache